{% extends 'base.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/admin/css/admin-monitor.css">
{% endblock %}

{% block content %}

  <div class="admin-monitor">
    <div class="info-block">

      {% if is_active.is_active %}
        <div class="thread-is-working on-bg">Активирован</div>
      {% else %}
        <div class="thread-is-working off-bg">Отключен</div>
      {% endif %}

      <form method="POST" action="/admin/thread-on-of" class="active-thread-bts" enctype="application/x-www-form-urlencoded">
        {% if is_active.is_active %}
          <input type="hidden" name="is_active" value="False">
          <button class="btn on-bg disabled" disabled>Активировать</button>
          <button class="btn btn-off off-bg">Отключить</button>
        {% else %}
          <input type="hidden" name="is_active" value="True">
          <button class="btn btn-on on-bg">Активировать</button>
          <button class="btn off-bg disabled" disabled>Отключить</button>
        {% endif %}
        <p>После нажатия кнопки подождите 15 секунд</p>
      </form>
    </div>
  </div>

{% endblock %}



