
<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
<head>
  <title>ATHkeeper admin</title>
  <link rel="stylesheet" href="/static/admin/css/base.css">
  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <script src="/static/admin/js/theme.js" defer></script>
  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>
  <link rel="stylesheet" href="/static/admin/css/changelists.css">
  <script src="/admin/jsi18n/"></script>
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script src="/static/admin/js/jquery.init.js"></script>
  <script src="/static/admin/js/core.js"></script>
  <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script src="/static/admin/js/actions.js"></script>
  <script src="/static/admin/js/urlify.js"></script>
  <script src="/static/admin/js/prepopulate.js"></script>
  <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
  <script src="/static/admin/js/filters.js" defer></script>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/static/admin/css/responsive.css">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" app-users model-user change-list" data-admin-utc-offset="0">
  <a href="#content-start" class="skip-to-content-link">Skip to main content</a>

  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="/admin/">Администрирование Django</a></h1>
      </div>
      <div id="user-tools">Добро пожаловать, <strong>purkhanov</strong>. <a href="/">Открыть сайт</a> / <a href="/admin/password_change/">Изменить пароль</a> /
        <form id="logout-form" method="post" action="/admin/logout/">
          <input type="hidden" name="csrfmiddlewaretoken" value="sAVPNFoXaG9zBVC4C6To9MzHO73iongNN0Xjwk0vrYw1gHpgplwO4oAV0BYSrj99">
          <button type="submit">Выйти</button>
        </form>
      </div>
    </div>
    <!-- END Header -->

    <nav aria-label="Breadcrumbs">
      <div class="breadcrumbs">
        <a href="/admin/">Начало</a>
        &rsaquo; <a href="/admin/users/">Users</a>
        &rsaquo; Пользователи
      </div>
    </nav>

    <div class="main" id="main">
      <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Переключить навигацию"></button>
      <nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
        <input type="search" id="nav-filter" placeholder="Начните печатать для фильтрации..." aria-label="Фильтр элементов навигации">
        <div class="app-trade module">
          <table>
            <caption>
              <a href="/admin/trade/" class="section" title="Модели в приложении Trade">Trade</a>
            </caption>
            <tr class="model-websocketinfomsg">
              <th scope="row"><a href="/admin/trade/websocketinfomsg/">Вебсокет инфо</a></th>
              <td><a href="/admin/trade/websocketinfomsg/add/" class="addlink">Добавить</a></td>
            </tr>
            <tr class="model-autotradeerrormsg">
              <th scope="row"><a href="/admin/trade/autotradeerrormsg/">Ошибки</a></th>
              <td><a href="/admin/trade/autotradeerrormsg/add/" class="addlink">Добавить</a></td>
            </tr>
            <tr class="model-tradeinfo">
              <th scope="row"><a href="/admin/trade/tradeinfo/">Трейдинг</a></th>
              <td><a href="/admin/trade/tradeinfo/add/" class="addlink">Добавить</a></td>
            </tr>
          </table>
        </div>

        <div class="app-users module current-app">
          <table>
            <caption>
              <a href="/admin/users/" class="section" title="Модели в приложении Users">Users</a>
            </caption>
            <tr class="model-user current-model">
              <th scope="row"><a href="/admin/users/user/" aria-current="page">Пользователи</a></th>
              <td><a href="/admin/users/user/add/" class="addlink">Добавить</a></td>
            </tr>
          </table>
        </div>
      </nav>
      <div id="content-start" class="content" tabindex="-1">
        
        <!-- Content -->
        <div id="content" class="">
          <h1>Выберите пользователь для изменения</h1>
          <div id="content-main">
            <ul class="object-tools">
              <li><a href="/admin/users/user/add/" class="addlink">Добавить пользователь</a></li>
            </ul>

            <div class="module" id="changelist">
              <div class="changelist-form-container">
                <div id="toolbar">
                  <form id="changelist-search" method="get">
                    <div><!-- DIV needed for valid HTML -->
                    <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                    <input type="text" size="40" name="q" value="" id="searchbar">
                    <input type="submit" value="Найти">
                  </div>
                </form>
              </div>
              <form id="changelist-form" method="post" novalidate>
                <input type="hidden" name="csrfmiddlewaretoken" value="sAVPNFoXaG9zBVC4C6To9MzHO73iongNN0Xjwk0vrYw1gHpgplwO4oAV0BYSrj99">
                <div class="actions">
                  <label>Действие:
                    <select name="action" required>
                      <option value="" selected>---------</option>
                      <option value="delete_selected">Удалить выбранные пользователи</option>
                    </select>
                  </label>
                  <input type="hidden" name="select_across" value="0" class="select-across">
                  <button type="submit" class="button" title="Выполнить выбранное действие" name="index" value="0">Выполнить</button>
                  <span class="action-counter" data-actions-icnt="1">Выбрано 0 объектов из 1 </span>
                </div>
                <div class="results">
                  <table id="result_list">
                    <thead>
                      <tr>
                        <th scope="col" class="action-checkbox-column">
                          <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-username">
                          <div class="text"><a href="?o=1">Имя пользователя</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-phone_number">
                          <div class="text"><a href="?o=2">Номер телефона</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-first_name">
                          <div class="text"><a href="?o=3">Имя</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-is_staff">
                          <div class="text"><a href="?o=4">Статус персонала</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-auto_trade">
                          <div class="text"><a href="?o=5">Авто торговля</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-trade_percent">
                          <div class="text"><a href="?o=6">Процент торговли</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-trade_usdt_quantity">
                          <div class="text"><a href="?o=7">Количество торговли</a></div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-ban">
                          <div class="text"><a href="?o=8">Ограничить доступ</a></div>
                          <div class="clear"></div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="action-checkbox">
                          <input type="checkbox" name="_selected_action" value="1" class="action-select">
                        </td>
                        <th class="field-username">
                          <a href="/admin/users/user/1/change/">purkhanov</a>
                        </th>
                        <td class="field-phone_number"></td>
                        <td class="field-first_name"></td>
                        <td class="field-is_staff">
                          <img src="/static/admin/img/icon-yes.svg" alt="True">
                        </td>
                        <td class="field-auto_trade">
                          <img src="/static/admin/img/icon-yes.svg" alt="True">
                        </td>
                        <td class="field-trade_percent">0,3</td>
                        <td class="field-trade_usdt_quantity">6</td>
                        <td class="field-ban">
                          <img src="/static/admin/img/icon-no.svg" alt="False">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p class="paginator">1 пользователь</p>
              </form>
            </div>
            </div>
          </div>
          <br class="clear">
        </div>
        <!-- END Content -->

        <div id="footer"></div>
      </div>
    </div>
  </div>
  <!-- END Container -->
</body>
</html>
