
<!DOCTYPE html>

<html lang="ru-ru" dir="ltr">
<head>
<title>purkhanov | Изменить Трейдинг | Административный сайт Django</title>
<link rel="stylesheet" href="/static/admin/css/base.css">

  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <script src="/static/admin/js/theme.js" defer></script>


  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" href="/static/admin/css/forms.css">


<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" app-trade model-tradeinfo change-form"
  data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">


    <!-- Header -->

    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Администрирование Django</a></h1>


        </div>


        <div id="user-tools">

                Добро пожаловать,
                <strong>purkhanov</strong>.



                    <a href="/">Открыть сайт</a> /






                <a href="/admin/password_change/">Изменить пароль</a> /

                <form id="logout-form" method="post" action="/admin/logout/">
                    <input type="hidden" name="csrfmiddlewaretoken" value="j9TwCyvAE06gvYkYTDv1BXqa7CNMgX0LEzV0ld78VitIaK7aGS8rwzroj6ImjTT7">
                    <button type="submit">Выйти</button>
                </form>

<button class="theme-toggle">
  <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
  <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
  <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
  <svg aria-hidden="true" class="theme-icon-when-auto">
    <use xlink:href="#icon-auto" />
  </svg>
  <svg aria-hidden="true" class="theme-icon-when-dark">
    <use xlink:href="#icon-moon" />
  </svg>
  <svg aria-hidden="true" class="theme-icon-when-light">
    <use xlink:href="#icon-sun" />
  </svg>
</button>


        </div>



    </div>

    <!-- END Header -->

      <nav aria-label="Breadcrumbs">

<div class="breadcrumbs">
<a href="/admin/">Начало</a>
&rsaquo; <a href="/admin/trade/">Trade</a>
&rsaquo; <a href="/admin/trade/tradeinfo/">Трейдинг</a>
&rsaquo; purkhanov
</div>

      </nav>



    <div class="main" id="main">



<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Переключить навигацию"></button>
<nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
  <input type="search" id="nav-filter"
         placeholder="Начните печатать для фильтрации..."
         aria-label="Фильтр элементов навигации">




    <div class="app-trade module current-app">
      <table>
        <caption>
          <a href="/admin/trade/" class="section" title="Модели в приложении Trade">Trade</a>
        </caption>

          <tr class="model-websocketinfomsg">

              <th scope="row"><a href="/admin/trade/websocketinfomsg/">Вебсокет инфо</a></th>



              <td><a href="/admin/trade/websocketinfomsg/add/" class="addlink">Добавить</a></td>



          </tr>

          <tr class="model-autotradeerrormsg">

              <th scope="row"><a href="/admin/trade/autotradeerrormsg/">Ошибки</a></th>



              <td><a href="/admin/trade/autotradeerrormsg/add/" class="addlink">Добавить</a></td>



          </tr>

          <tr class="model-tradeinfo current-model">

              <th scope="row"><a href="/admin/trade/tradeinfo/" aria-current="page">Трейдинг</a></th>



              <td><a href="/admin/trade/tradeinfo/add/" class="addlink">Добавить</a></td>



          </tr>

      </table>
    </div>

    <div class="app-users module">
      <table>
        <caption>
          <a href="/admin/users/" class="section" title="Модели в приложении Users">Users</a>
        </caption>

          <tr class="model-user">

              <th scope="row"><a href="/admin/users/user/">Пользователи</a></th>



              <td><a href="/admin/users/user/add/" class="addlink">Добавить</a></td>



          </tr>

      </table>
    </div>

    <div class="app-authtoken module">
      <table>
        <caption>
          <a href="/admin/authtoken/" class="section" title="Модели в приложении Токен аутентификации">Токен аутентификации</a>
        </caption>

          <tr class="model-tokenproxy">

              <th scope="row"><a href="/admin/authtoken/tokenproxy/">Tokens</a></th>



              <td><a href="/admin/authtoken/tokenproxy/add/" class="addlink">Добавить</a></td>



          </tr>

      </table>
    </div>



</nav>



      <div id="content-start" class="content" tabindex="-1">



        <!-- Content -->
        <div id="content" class="colM">

          <h1>Изменить Трейдинг</h1>
          <h2>purkhanov</h2>
          <div id="content-main">


  <ul class="object-tools">



<li>

    <a href="/admin/trade/tradeinfo/128/history/" class="historylink">История</a>
</li>




  </ul>


<form method="post" id="tradeinfo_form" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="j9TwCyvAE06gvYkYTDv1BXqa7CNMgX0LEzV0ld78VitIaK7aGS8rwzroj6ImjTT7">
<div>







  <fieldset class="module aligned ">



        <div class="form-row field-symbol">


                <div>

                        <div class="flex-container">

                                <label class="required" for="id_symbol">Символ:</label>

                                    <input type="text" name="symbol" value="KASUSDT" class="vTextField" maxlength="10" required id="id_symbol">


                        </div>

                </div>


        </div>

        <div class="form-row field-buy_kaspa_quantity">


                <div>

                        <div class="flex-container">

                                <label for="id_buy_kaspa_quantity">Куплено:</label>

                                    <input type="number" name="buy_kaspa_quantity" value="48.43" step="any" id="id_buy_kaspa_quantity">


                        </div>

                </div>


        </div>

        <div class="form-row field-cummulative_quote_qty">


                <div>

                        <div class="flex-container">

                                <label for="id_cummulative_quote_qty">Потрачено:</label>

                                    <input type="number" name="cummulative_quote_qty" value="5.73086719" step="any" id="id_cummulative_quote_qty">


                        </div>

                </div>


        </div>

        <div class="form-row field-buy_order_id">


                <div>

                        <div class="flex-container">

                                <label for="id_buy_order_id">ID покупки:</label>

                                    <input type="text" name="buy_order_id" value="C01__374567087722479617" class="vTextField" maxlength="100" id="id_buy_order_id">


                        </div>

                </div>


        </div>

        <div class="form-row field-buy_price">


                <div>

                        <div class="flex-container">

                                <label for="id_buy_price">Цена покупки:</label>

                                    <input type="number" name="buy_price" value="0.118333" step="any" id="id_buy_price">


                        </div>

                </div>


        </div>

        <div class="form-row field-sell_order_id">


                <div>

                        <div class="flex-container">

                                <label for="id_sell_order_id">ID продажи:</label>

                                    <input type="text" name="sell_order_id" value="C01__374567097839157249" class="vTextField" maxlength="50" id="id_sell_order_id">


                        </div>

                </div>


        </div>

        <div class="form-row field-sell_price">


                <div>

                        <div class="flex-container">

                                <label for="id_sell_price">Цена продажи:</label>

                                    <input type="number" name="sell_price" value="0.118688" step="any" id="id_sell_price">


                        </div>

                </div>


        </div>

        <div class="form-row field-profit">


                <div>

                        <div class="flex-container">

                                <label for="id_profit">Маржа:</label>

                                    <input type="number" name="profit" step="any" id="id_profit">


                        </div>

                </div>


        </div>

        <div class="form-row field-status">


                <div>

                        <div class="flex-container">

                                <label for="id_status">Статус:</label>

                                    <input type="text" name="status" value="NEW" class="vTextField" maxlength="30" id="id_status">


                        </div>

                </div>


        </div>

        <div class="form-row field-date_time">


                <div>

                        <div class="flex-container">

                                <label>Date time:</label>

                                    <div class="readonly">12 января 2024 г. 18:59</div>


                        </div>

                </div>


        </div>

</fieldset>













<div class="submit-row">

<input type="submit" value="Сохранить" class="default" name="_save">

<input type="submit" value="Сохранить и добавить другой объект" name="_addanother">
<input type="submit" value="Сохранить и продолжить редактирование" name="_continue">



    <a href="/admin/trade/tradeinfo/128/delete/" class="deletelink">Удалить</a>


</div>



    <script id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"

            async>
    </script>




<script id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>


          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->

<!-- SVGs -->
<svg xmlns="http://www.w3.org/2000/svg" class="base-svgs">
  <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-auto"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2V4a8 8 0 1 0 0 16z"/></symbol>
  <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-moon"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"/></symbol>
  <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-sun"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"/></symbol>
</svg>
<!-- END SVGs -->
</body>
</html>
