<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Переключить навигацию"></button>
<nav class="sticky" id="nav-sidebar" aria-label="Sidebar" aria-expanded="False">
  <div class="app-trade module current-app">
    <table>
      <caption>
        <a href="#" class="section" title="Модели в приложении Trade">Trade</a>
      </caption>
      <tr class="model-autotradeerrormsg">
        <th scope="row"><a href="/admin/errors">Ошибки</a></th>
        <td><a href="#" class="addlink">Добавить</a></td>
      </tr>
      <tr class="model-tradeinfo">
        <th scope="row"><a href="/admin/trade-info">Трейдинг</a></th>
        <td><a href="#" class="addlink">Добавить</a></td>
      </tr>
    </table>
  </div>
  <div class="app-users module">
    <table>
      <caption>
        <a href="#" class="section" title="Модели в приложении Users">Users</a>
      </caption>
      <tr class="model-user">
        <th scope="row"><a href="/admin/users">Пользователи</a></th>
        <td><a href="#" class="addlink">Добавить</a></td>
      </tr>
    </table>
  </div>
</nav>